.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80px;

  position: relative;
  top: 0;

  background-color: #ffffff;
  filter: drop-shadow(0 4px 8px #0000001a);

  padding: 12px 80px;
}

.navbar-wrap {
  width: 100%;
}

.navbar-logo {
  width: 104px;
  height: 32px;
}
