@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 16px;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  --typescale: 1.333;
  --fontSize: 1rem;
  --headingLineHeight: 1.333;
  --bodyLineHeight: 1.5;
}

body,
section,
.about-content,
.buttonImage {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

section {
  scroll-margin-block-start: 10vh;
}

details summary::-webkit-details-marker {
  display: none;
}

.tl-progress-bar {
  clip-path: inset(0px 0px round 0.5rem);
}

@layer utilities {
  .text-balance {
    text-wrap: pretty;
  }
}

@layer components {
  .resumeScrollPosition {
    scroll-margin-block-start: 20vh;
  }

  .blueScrollbar {
    scrollbar-color: #ffffff #228ee8;
  }

  .heading-1 {
    font-size: calc(var(--fontSize) * pow(var(--typescale), 7));
    line-height: var(--headingLineHeight);
    font-weight: 500;
    text-transform: uppercase;
  }
  .heading-2 {
    font-size: calc(var(--fontSize) * pow(var(--typescale), 6));
    line-height: var(--headingLineHeight);
    font-weight: 500;
    text-transform: uppercase;
  }
  .heading-3 {
    font-size: calc(var(--fontSize) * pow(var(--typescale), 5));
    line-height: var(--headingLineHeight);
    font-weight: 500;
    text-transform: uppercase;
  }
  .heading-4 {
    font-size: calc(var(--fontSize) * pow(var(--typescale), 4));
    line-height: var(--headingLineHeight);
    font-weight: 500;
    text-transform: uppercase;
  }
  .heading-5 {
    font-size: calc(var(--fontSize) * pow(var(--typescale), 3));
    line-height: var(--headingLineHeight);
    font-weight: 500;
    text-transform: uppercase;
  }
  .heading-6 {
    font-size: calc(var(--fontSize) * pow(var(--typescale), 2));
    line-height: var(--headingLineHeight);
    font-weight: 500;
    text-transform: uppercase;
  }
  .body-lg {
    font-size: calc(var(--fontSize) * var(--typescale));
    line-height: var(--bodyLineHeight);
  }
  .body-base {
    font-size: var(--fontSize);
    line-height: var(--bodyLineHeight);
  }
  .body-sm {
    font-size: calc(var(--fontSize) / var(--typescale));
    line-height: var(--bodyLineHeight);
  }
  .body-xs {
    font-size: calc(var(--fontSize) / pow(var(--typescale), 2));
    line-height: var(--bodyLineHeight);
  }

  @media (max-width: 768px) {
    .resumeScrollPosition {
      scroll-margin-block-start: 28vh;
    }

    .heading-1 {
      font-size: calc(var(--fontSize) * pow(var(--typescale), 4));
      line-height: var(--headingLineHeight);
      font-weight: 500;
      text-transform: uppercase;
    }
    .heading-2 {
      font-size: calc(var(--fontSize) * pow(var(--typescale), 3));
      line-height: var(--headingLineHeight);
      font-weight: 500;
      text-transform: uppercase;
    }
    .heading-3 {
      font-size: calc(var(--fontSize) * pow(var(--typescale), 2));
      line-height: var(--headingLineHeight);
      font-weight: 500;
      text-transform: uppercase;
    }
    .heading-4 {
      font-size: calc(var(--fontSize) * var(--typescale));
      line-height: var(--headingLineHeight);
      font-weight: 500;
      text-transform: uppercase;
    }
    .heading-5 {
      font-size: var(--fontSize);
      line-height: var(--headingLineHeight);
      font-weight: 500;
      text-transform: uppercase;
    }
    .heading-6 {
      font-size: calc(var(--fontSize) / var(--typescale));
      line-height: var(--headingLineHeight);
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
