@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 18px;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  --fontSize: 1rem;
}

body,
section,
.about-content,
.buttonImage {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

section {
  scroll-margin-block-start: 10vh;
}

.tl-progress-bar {
  clip-path: inset(0px 0px round 0.5rem);
}

@layer utilities {
  .text-balance {
    text-wrap: pretty;
  }
}

@layer components {
  .resumeScrollPosition {
    scroll-margin-block-start: 20vh;
  }

  .type-preset-1 {
    font-size: 112px;
    line-height: 140px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .type-preset-2 {
    font-size: 88px;
    line-height: 110px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .type-preset-3 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .type-preset-4 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .type-preset-base {
    font-size: 1rem;
    line-height: calc(1rem * 2);
  }
  .type-preset-lg {
    font-size: calc(1rem * 1.5);
    line-height: calc(1rem * 2.5);
  }

  @media (max-width: 640px) {
    .resumeScrollPosition {
      scroll-margin-block-start: 28vh;
    }

    .type-preset-1 {
      font-size: 60px;
      line-height: 75px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .type-preset-2 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .type-preset-3 {
      font-size: 36px;
      line-height: 45px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .type-preset-4 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .type-preset-base {
      font-size: 1rem;
      line-height: calc(1rem * 1.5);
    }
    .type-preset-lg {
      font-size: calc(1rem * 1.25);
      line-height: calc(1rem * 1.75);
    }
  }
}
